.site-heading-lower{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke !important;
}
.myimg{
    width: 50% !important;
}
.myitialics{
    font-style: italic;
}